# check if python version is set in current dir
VIRTUAL_ENV="$PWD/venv"
if [ ! -d "$VIRTUAL_ENV" ]; then
    PYTHON=python3
    echo "Installing virtualenv for $($PYTHON -V)"
    # if we didn't install `py2venv` for python 2.x, we would need to use
    # `virtualenv`, which you would have to install separately.
    $PYTHON -m venv "$VIRTUAL_ENV"
    PYTHON="$VIRTUAL_ENV"/bin/python
    PIP="$VIRTUAL_ENV"/bin/pip
    $PIP install -q pip wheel -U
    $PIP install -q pylint isort mypy black pre-commit
    # install requirements.txt if exists
    REQUIREMENTS=requirements.txt
    if [ -f "$REQUIREMENTS" ]; then
        echo "found requirements file, install it,"
        $PIP install -r "$REQUIREMENTS"
    fi
    echo "Virtualenv has been activated for $($PYTHON -V)"
fi

if [ -d "$VIRTUAL_ENV" ]; then
    # PS1 is not allowed to override in direnv env
    # to avoid override by `activate`
    export VIRTUAL_ENV_DISABLE_PROMPT=1
    export VIRTUAL_ENV
    PATH="${VIRTUAL_ENV}/bin:${PATH}"
    export PATH
fi
